In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
True_news = pd.read_csv('True.csv')
Fake_news = pd.read_csv('Fake.csv')

In [3]:
True_news['label'] = 0

In [4]:
Fake_news['label'] = 1

In [5]:
True_news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [6]:
Fake_news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [7]:
dataset1 = True_news[['text','label']]
dataset2 = Fake_news[['text','label']]

In [8]:
dataset = pd.concat([dataset1 , dataset2])

In [9]:
dataset.shape

(44898, 2)

# Null values

In [10]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

# Balanced or Unbalanced dataset

In [11]:
dataset['label'].value_counts()

label
1    23481
0    21417
Name: count, dtype: int64

In [12]:
dataset1.shape

(21417, 2)

In [13]:
dataset2.shape

(23481, 2)

# Shuffle or Resample

In [14]:
dataset = dataset.sample(frac = 1)

In [15]:
dataset.head(20)

                                                    text  label
20428  BERLIN (Reuters) - German Chancellor Angela Me...      0
11265  WASHINGTON (Reuters) - U.S. Vice President Joe...      0
14327  Ronna Romney McDaniel is the Chairman of the M...      1
964    WASHINGTON (Reuters) - The attorney for former...      0
7270   On Friday, Florida Governor Rick Scott screwed...      1
3129   DUNWOODY, Ga. (Reuters) - Democrat Jon Ossoff ...      0
15590  Perhaps this young girl aspires to be the Firs...      1
15391  HONG KONG (Reuters) - Some activists in Hong K...      0
10647  UNITED NATIONS (Reuters) - The United States p...      0
17537  MANILA (Reuters) - A group of civil society or...      0
7895   WASHINGTON (Reuters) - U.S. Republican preside...      0
12736  It should be the lead story on every network, ...      1
1527   WASHINGTON (Reuters) - The U.S. Department of ...      0
6160   BERLIN (Reuters) - Germany will need a new eco...      0
17392  Mayor Stephanie Rawlings-Blake: While we tried...      1
301    WASHINGTON (Reuters) - The U.S. Congress may b...      0
14995  Say goodbye to your economy, traditions and cu...      1
9916   Hillary Clinton just opened her mouth and prov...      1
5351   Rafeal Zuniga, a former guard at the Waller Co...      1
19508                                                         1

In [16]:
import nltk

In [17]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [18]:
ps = WordNetLemmatizer()

In [19]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Hp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
from nltk.corpus import stopwords
stopwords_list = stopwords.words('english')

In [21]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Hp\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [22]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [23]:
ps = WordNetLemmatizer()

def cleaning_data(row):
    row = re.sub('[^a-zA-Z]', ' ', row)
    token = row.split() 
    news = [ps.lemmatize(word) for word in token if not word in stopwords.words('english')]
    cleaned_news = ' '.join(news) 
    return cleaned_news

In [ ]:
dataset['text'] = dataset['text'].apply(lambda x: cleaning_data(x))

In [ ]:
dataset.isnull().sum()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vectorizer = TfidfVectorizer(max_features = 50000 , lowercase=False , ngram_range=(1,2))

In [ ]:
dataset.shape

In [ ]:
X = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
from sklearn.model_selection import train_test_split
train_data , test_data , train_label , test_label = train_test_split(X , y , test_size = 0.2 ,random_state = 0)

In [ ]:
vec_train_data = vectorizer.fit_transform(train_data)

In [ ]:
train_data.shape , test_data.shape

In [ ]:
vec_test_data = vectorizer.transform(test_data).toarray()

In [ ]:
vec_train_data.shape , vec_test_data.shape

In [ ]:
train_label.value_counts() # balanced partition

In [ ]:
test_label.value_counts()

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

vec_train_data = vectorizer.fit_transform(train_data)
vec_test_data = vectorizer.transform(test_data)

feature_names = vectorizer.get_feature_names_out()

training_data = pd.DataFrame.sparse.from_spmatrix(vec_train_data, columns=feature_names)
testing_data = pd.DataFrame.sparse.from_spmatrix(vec_test_data, columns=feature_names)

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
from sklearn.metrics import accuracy_score,classification_report

In [ ]:
clf = MultinomialNB()

In [ ]:
clf.fit(training_data, train_label)
y_pred  = clf.predict(testing_data)

# MultinomialNB

In [ ]:
pd.Series(y_pred).value_counts()

In [ ]:
test_label.value_counts()

In [ ]:
print(classification_report(test_label , y_pred))

In [ ]:
y_pred_train = clf.predict(training_data)
print(classification_report(train_label , y_pred_train))

In [ ]:
accuracy_score(train_label , y_pred_train)

In [ ]:
accuracy_score(test_label , y_pred)

In [ ]:
news = cleaning_data(str("Imposters posing as army personnel on the social media have been called out by the Indian Army as false news and disinformation."))

In [ ]:
single_prediction = clf.predict(vectorizer.transform([news]).toarray())
single_prediction

# Save the Model

In [ ]:
import joblib

In [ ]:
joblib.dump(clf , 'model.pkl')

In [ ]:
model = joblib.load('model.pkl')